@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.container {
  max-width: 790px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* globals.css yoki index.css */
::-webkit-scrollbar {
  width: 0px;
}
